h1 {
    color: var(--gray-200);
    font-weight: bold;
}

.profile {
    margin: 0 0.5rem;
    border: 2px solid var(--light-grey);
}

.profile-head {
    padding: 0.5rem 0.75rem;
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
}

.profile-body {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.profile-info {
    padding: 0.5rem;
    border-right: 2px solid var(--light-grey);
}

@media all and (min-width: 480px) {
    .profile-body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media all and (min-width: 600px) {
    .profile-body {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .profile-detail {
        grid-column: span 2;
    }
}

@media all and (min-width: 920px) {
    .profile-body {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .profile-detail {
        grid-column: span 3;
    }
}

.profile-image {
    width: 100%;
}

.profile-name {
    text-align: center;
    margin: 0.5rem 0;
}

.profile-detail {
    padding: 0.5rem;
}

.link {
    color: var(--blue-link);
    text-decoration: none;
    display: flex;
}

.link span {
    padding-right: 0.25rem;
}

.link:hover {
    color: var(--blue-link);
    text-decoration: underline;
}

.profile-stats {
    border-top: 1px solid var(--light-grey);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.anime-stats {
    margin-top: 0.5rem;
    display: grid;
    max-width: 400px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}